<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'none'; 
        connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form>
            <input placeholder="Enter Location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        
        <script src="/js/app.js"></script>
    </div>

    {{>footer}}
</body>

</html>